%% ------------------------------
%% auther: sy
%%
%% date:   2019/12/24
%% ------------------------------
[
  {
    sasl,
    [
      {sasl_error_logger, false},
      {errlog_type, error},
      {error_logger_mf_dir, "../logs"},
      {error_logger_mf_maxbytes, 1048760},
      {error_logger_mf_maxfiles, 10}
    ]
  },

  {
    game,
    []
  }
].