[
    {lager, [
        {log_root, "log"},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " [", severity, "] ",
                    {pid, ""},
                    {module, [
                        module, ":", function, ":", line, " "
                    ]},
                    message, "\n"
                ]}
            ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {size, 10485760},
                {date, "$D0"},
                {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " [", severity, "] ",
                    {pid, ""},
                    {module, [
                        module, ":", function, ":", line, " "
                    ]},
                    message, "\n"
                ]}
            ]},
            {lager_file_backend, [
                {file, "console.log"},
                {level, info},
                {size, 10485760},
                {date, "$D0"},
                {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " [", severity, "] ",
                    {pid, ""},
                    {module, [
                        module, ":", function, ":", line, " "
                    ]},
                    message, "\n"
                ]}
            ]}
        ]}
    ]}
]. 